<!-- Cambia el template segun el estado del login (true = logueado) -->

<ng-container *ngIf="$estado | async ; then modoLoggedIn; else modoLoggedOut">
</ng-container>

<ng-template #modoLoggedIn>
  <div class="d-flex justify-content-end"> 
 <button class="btn btn-primary me-1">/</button>
  <button class="btn btn-primary me-1" (click)="logOut()">Log-Out</button>
    
  </div>
</ng-template>

<ng-template #modoLoggedOut>

  <div class="d-flex justify-content-end">
    <button class="btn btn-primary me-2" (click)="open(milogin)">Login</button>
  </div>
</ng-template>



<h3> Argentina Programa - #YoProgramo.</h3>


<ng-template #milogin let-modal>
  <app-login></app-login>
</ng-template>