<ul>
    <li>
      <h2>Educacion</h2>
  
    </li>
    <li>
      <div style=" float: right;" *ngIf="$estado | async">
  
        <app-btn-agregar (click)="openEdForm([],0)"></app-btn-agregar>      
      </div>
    </li>
  </ul>

<div *ngFor="let item of educacion">

    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper col align-self-center" >
          <img class="" src="http://via.placeholder.com/140x100" alt="Card image cap">
        </div>
  
        <div class="card-body">
          <h3 class="card-title">{{item.institucion }}</h3>
          <h4>Año de Egreso: {{item.egreso}} </h4>
          <p class="card-text"> {{item.titulo}} </p>
        </div>
  
        <div *ngIf="$estado | async" class="card-footer">
  
          <!--(1) modificar el boton para que llame al metodo open del modal con el template  -->
  
    
          <app-btn-editar (click)="openEdForm(item ,1 )"></app-btn-editar>
  
          <app-btn-eliminar (click)="openEdForm(item, 2)">X</app-btn-eliminar>
        </div>
      </div>
    </div>
  
  </div>