<div class="bg-image" 
     style="background-image: url('https://i.imgur.com/3S4zuof.gif');
            height: 30vh" >
</div>


<div class="card-horizontal">

    
   
    <div class="card-footer" style="text-align:center">
        <div class="img-parent"> 
        <div class="img-child"></div>
        </div>
      <h5 class="card-title">Nombre Apellido</h5>
      <h5 class="card-title">Full Stack Developer Jr.</h5>
 
    </div>
    <div class="card-body" style="text-align:justify">
     <h5 class="card-title">Acerca de</h5>
    <p class="card-text">Some quick card description...</p>
    </div>
  
</div>

