<!-- Titulo -->


<div class="card">

  <div class="card-horizontal">

    <div class="card-body">
      <h2 class="card-title">Experiencia</h2>
    </div>

    <div *ngIf="$estado | async" class="card-footer">
      <!--(1) modificar el boton para que llame al metodo open del modal con el template  -->
      <button class="btn btn-lg btn-outline-primary me-2" (click)="open(mymodal)">+</button>
    </div>
  </div>

</div>

<!-- Tarjetas con Info de cada empleo  -->


<div *ngFor="let empleo of experiencia">
  <div class="card">
    <div class="card-horizontal">

      <div class="img-square-wrapper">
        <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
      </div>

      <div class="card-body">
        <h3 class="card-title">{{empleo.Empresa}}</h3>
        <h4>{{empleo.puesto}} - {{empleo.ingreso}} - {{empleo.egreso}}</h4>
        <p class="card-text"> {{empleo.descripcion}} </p>
      </div>

      <div *ngIf="$estado | async" class="card-footer">

        <!--(1) modificar el boton para que llame al metodo open del modal con el template  -->
        <button class="btn btn-lg btn-outline-primary me-2" (click)="open(mymodal)">/</button>

        <a href="#" class="btn btn-lg btn-outline-primary me-2">X</a>
      </div>

    </div>

  </div>

</div>

<!-- (2) crear el ng-template para mostrar en el Formulario modal -->

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Hola, soy un modal. </h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>×</span>
    </button>
  </div>
  <div class="modal-body">
    Aca va el contenido.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>